@{
    ViewData["Title"] = "detail 1";
}

<style>
    .mySlides {
        display: none;
    }

    .card {
        width: 320px;
        background: #EBEBEB;
        border-radius: 10px;
        margin-top: 30px;
    }

        .card:hover {
            cursor: pointer;
        }

    .card-image {
        background: #A83A3A;
        margin: 17px auto;
        border-radius: 10px;
        width: 285px;
        height: 195px;
    }

    .flex {
        display: flex;
        margin: 0 17px;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-between;
    }

    .flex-1 {
        flex-basis: 50%;
    }

        .flex-1 p {
            margin: 0;
        }

        .flex-1 .active {
            color: #A83A3A;
            font-weight: 700;
        }

    .flex-2 {
        background: #F4A7A7;
        width: 71px;
        height: 45px;
        border-radius: 50px;
    }

        .flex-2 .active {
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            color: #A83A3A;
            font-size: 20px;
        }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .flex-2:hover {
        background: #A83A3A;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="grid">
    <div class="card">
        <div class="w3-content w3-display-container">
            <img class="mySlides" src="~/images/123.png" style="width:100%">
            <img class="mySlides" src="~/images/124.png" style="width:100%">
            <img class="mySlides" src="~/images/125.png" style="width:100%">
            <img class="mySlides" src="~/images/126.png" style="width:100%">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>

    <div class="card">
        <form asp-controller="Home" asp-action="calculate" method="post">

            <table>
                <tr>
                    <td><label>ราคารถ</label></td>
                    <td>เงินดาวน์</td>
                    <td><label>จำนวนเดือน</label></td>

                </tr>
                <tr>
                    
                    <td><input name="txt2" type="number"/></td>
                    <td><input name="txt3" type="number" /></td>
                    <td>&nbsp;<button onclick="calculate()"> Calculate </button></td>
                    <!--<td>&nbsp;<input type="submit" value="calculate" /> </td>-->
                </tr>
            </table>

            <label>Result : </label>

        </form>
        <form asp-controller="Home" asp-action="calculate" method="get">
            <label>
                @ViewBag.RESULT
                @ViewBag.Price
                @ViewBag.Down
                @ViewBag.Finance
                @ViewBag.Increase
                @ViewBag.Month
                @ViewBag.Year
                @ViewBag.Totalincrease
                @ViewBag.Total
            </label>
        </form>
    </div>
</div>




<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>